kak/.config/kak/plugins/
kak/.config/kak/colors/
nvim/plugged
nvim/autoload
# this is where I store my current wallpaper
wall.png
.zsh_history
.zcompdump*
.zcompcache
gnupg
ipython
gh
krabby
chromium
google-chrome
lazygit/.config/lazygit/state.yml
   
# These configs I don't touch and they're allowed to live on my machine
BraveSoftware/
Signal\ Beta
Slack
discord
libreoffice
lutris
calibre
sway/default_i3_config
sway/default_sway_config
spotify-tui
broot/launcher
zoomus.conf

# what do these do?? random files from manjaro
# clean these up eventually
Kvantum/
QtProject.conf
Thunar/
autostart/
falkon
gtk-2.0
gtk-3.0/
midori
xfce4
volumeicon
Mousepad
key-mapper
nvm
pavucontrol.ini
qt5ct
dconf
configstore
pulse/

GIMP/2.10/internal-data/custom.ggr
GIMP/2.10/tool-options/gimp-airbrush-tool
GIMP/2.10/tool-options/gimp-align-tool
GIMP/2.10/tool-options/gimp-brightness-contrast-tool
GIMP/2.10/tool-options/gimp-bucket-fill-tool
GIMP/2.10/tool-options/gimp-by-color-select-tool
GIMP/2.10/tool-options/gimp-cage-tool
GIMP/2.10/tool-options/gimp-clone-tool
GIMP/2.10/tool-options/gimp-color-picker-tool
GIMP/2.10/tool-options/gimp-convolve-tool
GIMP/2.10/tool-options/gimp-crop-tool
GIMP/2.10/tool-options/gimp-curves-tool
GIMP/2.10/tool-options/gimp-dodge-burn-tool
GIMP/2.10/tool-options/gimp-ellipse-select-tool
GIMP/2.10/tool-options/gimp-eraser-tool
GIMP/2.10/tool-options/gimp-flip-tool
GIMP/2.10/tool-options/gimp-foreground-select-tool
GIMP/2.10/tool-options/gimp-free-select-tool
GIMP/2.10/tool-options/gimp-fuzzy-select-tool
GIMP/2.10/tool-options/gimp-gegl-tool
GIMP/2.10/tool-options/gimp-gradient-tool
GIMP/2.10/tool-options/gimp-handle-transform-tool
GIMP/2.10/tool-options/gimp-heal-tool
GIMP/2.10/tool-options/gimp-ink-tool
GIMP/2.10/tool-options/gimp-iscissors-tool
GIMP/2.10/tool-options/gimp-levels-tool
GIMP/2.10/tool-options/gimp-measure-tool
GIMP/2.10/tool-options/gimp-move-tool
GIMP/2.10/tool-options/gimp-mypaint-brush-tool
GIMP/2.10/tool-options/gimp-offset-tool
GIMP/2.10/tool-options/gimp-operation-tool
GIMP/2.10/tool-options/gimp-paintbrush-tool
GIMP/2.10/tool-options/gimp-pencil-tool
GIMP/2.10/tool-options/gimp-perspective-clone-tool
GIMP/2.10/tool-options/gimp-perspective-tool
GIMP/2.10/tool-options/gimp-rect-select-tool
GIMP/2.10/tool-options/gimp-rotate-tool
GIMP/2.10/tool-options/gimp-scale-tool
GIMP/2.10/tool-options/gimp-shear-tool
GIMP/2.10/tool-options/gimp-smudge-tool
GIMP/2.10/tool-options/gimp-text-tool
GIMP/2.10/tool-options/gimp-threshold-tool
GIMP/2.10/tool-options/gimp-transform-3d-tool
GIMP/2.10/tool-options/gimp-unified-transform-tool
GIMP/2.10/tool-options/gimp-vector-tool
GIMP/2.10/tool-options/gimp-warp-tool
GIMP/2.10/tool-options/gimp-zoom-tool
GIMP/2.10/action-history

# reaper DAW
REAPER/ColorThemes/Default_5.0.ReaperThemeZip
REAPER/ColorThemes/Default_6.0.ReaperThemeZip
REAPER/Data/*
REAPER/Effects/*
REAPER/Scripts/*

# Open Broadcast Studio
obs-studio/logs/*
obs-studio/profiler_data/*

