kak/plugins/
kak/colors/
nvim/plugged
nvim/autoload
# this is where I store my current wallpaper
wall.png
user-dirs.dirs
user-dirs.locale
.zsh_history
.zcompdump*
.zcompcache
gnupg
ipython
gh
lazygit/.config/
lazygit/state.yml
   
# These configs I don't touch and they're allowed to live on my machine
BraveSoftware/
Signal\ Beta
Slack
discord
libreoffice
lutris
calibre
sway/default_i3_config
sway/default_sway_config
spotify-tui
broot/launcher
zoomus.conf

# what do these do?? random files from manjaro
# clean these up eventually
Kvantum/
QtProject.conf
Thunar/
autostart/
falkon
gtk-2.0
gtk-3.0/
midori
xfce4
volumeicon
Mousepad
key-mapper
nvm
pavucontrol.ini
qt5ct
dconf
configstore
pulse/
