setbg &				# set the background image
dunst &				# notification daemon
sxhkd &				# used for binding hotkeys
xcompmgr &			# window transparency manager
xrdb ~/.config/Xresources &	# use the colors/settings on startup
remaps &			# remaps caps to esc
